@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #000a0f;
  --color-textPrimary: #ecf9fe;
  --color-textSecondary: #fff42b;
  --color-primary: #07a5e9;
  --color-secondary: #052294;
  --color-accent: #060cb7;

  

  --font-myFont: "Lobster Two", cursive;
}

body {
  @apply bg-background;
}
