@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-blackBase: #2a2a2a;
  --color-myGris: #ebebeb;
  --color-plateado: #c0c0c0;
  --color-myBlue: #007bff;
  --color-MyYellow: #ffc107;

  --font-myFont: "Lobster Two", cursive;
}

body {
  @apply bg-blackBase;
}
